@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.file-label {
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}

.no-padding {
  padding: 0 !important;
}

.max-width-300 {
  max-width: 300px;
}

.max-width-770 {
  max-width: 770px;
}

.margin-center {
  margin: 0 auto
}



